<!-- index.hbs is used for dynamic page and will replace /public/index.html -->
<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- the root '/' is the public folder -->
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather!</p>

        <form>
            <input type='text' placeholder="Location" >
            <button>Search</button>
        </form>

        <p id='message-1'></p>
        <p id='message-2'></p>
    </div>
    
    {{>footer}}
    <script src="/js/app.js"></script> 
    {{!-- the js has to put after form because there is a event listener for form --}}
</body>

</html>